*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
.search{
  height: 2rem;
  color: black;
  border-radius: 0.313rem;
  font-size: large;
  text-align: center;
  /* border:2px solid #8ac85e; */
  background-color: whitesmoke;
}
nav{
  /* background: #ebe6e6; */
  background: whitesmoke ;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100;
}
label.logo{
  color: #8ac85e;
  font-size: 2.188rem;
  line-height: 5rem;
  padding: 0 6.25rem;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 1.25rem;
}
nav ul li{
  display: inline-block;
  line-height: 5rem;
  margin: 0 0.125rem;
}
nav ul li a{
  color: #8ac85e;
  font-size: 1.063rem;
  padding: 0.438rem 0.813rem;
  border-radius: 0.188rem;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #8ac85e;
  text-decoration: none;
  color: white;
  transition: .5s;
}
.checkbtn{
  font-size: 1.875rem;
  color: white;
  float: right;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 1.875rem;
    padding-left: 1.875rem;
  }
  nav ul li a{
    font-size: 1rem;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4e5e6;
    top: 5px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 3.125rem 0;
    line-height: 1.875rem;
  }
  nav ul li a{
    font-size: 1.25rem;
  }
  a:hover,a.active{
    background: none;
    /* Background Color */
    color: #5cc412;
  }
  #check:checked ~ ul{
    left: 0;
  }
} 